<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoRoom</title>
</head>
<body>
    <h1 style="background-color: chartreuse;">
      Sorry !! No room or block is found
      <br>
      Currently we are up for E-block (fully) and F-block (fully)
    </h1>
</body>
</html>
