* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 body {
    /* background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(60deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px; */
    background: linear-gradient(300deg, #c188f4, #eb9aff, #945bf6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    font-family: 'helvetica neue';
    display: flex;
    justify-content: center;
  }

  .main-box{
    display: flex;
    align-items: center;
    width: fit-content;
    align-items: center;
    box-shadow: 10px 5px 5px black;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }

  .gradient-background{
    background: linear-gradient(300deg, #c188f4, #eb9aff, #945bf6);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 70px;
    color: #170d0d;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  .main-form{
    font-size: 30px;
  }

